*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.invalid input
{
    border: 1px solid red;
}

.invalid input:focus
{
    border-color: green;
}

button:disabled,
button:disabled:hover,
button:disabled:active
{
    background: #ccc;
    color: rgb(92, 92, 92);
    border-color: #ccc;
    cursor: not-allowed;
}